.WeatherForecastDaily {
  font-size: 10px;
  color: #48484a;
}

.WeatherForecastDaily ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
}

.WeatherForecastDaily img {
  position: relative;
  top: 0px;
  margin: 0 auto;
  margin-right: 10px;
}

span.temperature {
  text-align: center;
  color: grey;
}
