.Weather {
  background-color: #ffefa0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  border: 1px solid lightslategray;
  border-radius: 8px;
}

.Weather .btn {
  background-color: #ac4b1c;
  border: none;
}

.Weather h1,
h2 {
  font-size: 40px;
  padding-bottom: 0;
  color: #48484a;
}

.Weather h2 {
  font-size: 20px;
}
